version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.2.1
  docker: circleci/docker@2.1.3

parameters:
  docker_image_tag:
    type: string
    default: '7.4-node16-x86_64'

jobs:
  build:
    executor: 'aws-ecr/default'
    steps:
      - checkout
      - aws-ecr/build-image:
          dockerfile: Dockerfile.node16-x86_64
          no-output-timeout: 10m
          tag: << pipeline.parameters.docker_image_tag >>
          region: ${AWS_DEFAULT_REGION}
          registry-id: AWS_ACCOUNT_ID
          skip-when-tags-exist: false
          push-image: false
          repo: lambda-libreoffice-base

workflows:
  build_and_push_image:
    jobs:
      - docker/hadolint:
          dockerfiles: Dockerfile.node16-x86_64
          executor-class: medium
          ignore-rules: 'DL3033,SC3040,DL4006,DL3003,DL3032,SC2015'

      - build:
          context: prod-us
          filters:
            branches:
              only:
                - /feature\/.*/

      - aws-ecr/build-and-push-image:
          context: prod-us
          executor: aws-ecr/default
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-cli-version: latest
          create-repo: false
          repo: lambda-libreoffice-base
          tag: << pipeline.parameters.docker_image_tag >>
          dockerfile: Dockerfile.node16-x86_64
          no-output-timeout: 20m
          public-registry: true
          push-image: true
          region: ${AWS_DEFAULT_REGION}
          registry-id: AWS_ACCOUNT_ID
          repo-scan-on-push: true
          skip-when-tags-exist: false
          filters:
            branches:
              only:
                - master
